body {
    background-color: #000000;
    opacity: 1;
   background: url('https://i.postimg.cc/cJQYv58C/Chat-GPT-Image-4-ago-2025-20-36-06.png') center center repeat;
   background-size: 256px;
  }

p{
    color: #FFFFFF;
    text-shadow: 3px 5px 2px #474747;
}

.logo{
    height: 50%;
    width: 100%;
    
}

#precios {
    margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ffffff;
  }

  #contactos {
  margin-top: 40px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  }

 
